body {
	background-color: white;
	font-family: 'Yrsa', serif;
}

.logoSante {
	height: 140px;
	width: 140px;
}
.active .navBar{
	background-color: #a0229a;
	color: #e194DE;
}
.navBar {
	color: #860c80;
}
.navBar:hover {
	background-color: #860c80;
	color: #e194DE;
}
.navbar-collapse {
  	text-align:center;
}

.menuBurger{
	height: 30px;
	width: 30px;
}
h1{
	text-align: center;
	color: #b13dac;
}

.card-header {
	background-color: #b13dac;
}
h2{
	color: white;
	text-align: center;
}
.card-body {
	background-color: #fff9fa;
}
p{
	text-align: justify;
	font-size: 15px;
}
a{
	color: #267068;
}
a:hover{
	color: #638418;
}
.imageExo{
	height: 140px;
	width: 140px;
	border-radius: 100px 100px 100px 100px;
}
.boutonExo{
	background-color: #e196e1;
	color: #860c80;
}